<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Python review lab

---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Miscellaneous-problems" data-toc-modified-id="Miscellaneous-problems-1">Miscellaneous problems</a></span><ul class="toc-item"><li><span><a href="#1.-What-are-the-types-of-the-following-variables?" data-toc-modified-id="1.-What-are-the-types-of-the-following-variables?-1.1">1. What are the types of the following variables?</a></span></li><li><span><a href="#2.-What-is-the-difference-between-a-&quot;mutable&quot;-and-an-&quot;immutable&quot;-object?" data-toc-modified-id="2.-What-is-the-difference-between-a-&quot;mutable&quot;-and-an-&quot;immutable&quot;-object?-1.2">2. What is the difference between a "mutable" and an "immutable" object?</a></span></li><li><span><a href="#3.-Print-the-student_names-list." data-toc-modified-id="3.-Print-the-student_names-list.-1.3">3. Print the <code>student_names</code> list.</a></span></li><li><span><a href="#4.-Print-the-names-of-the-first-and-last-students-in-the-list." data-toc-modified-id="4.-Print-the-names-of-the-first-and-last-students-in-the-list.-1.4">4. Print the names of the first and last students in the list.</a></span></li><li><span><a href="#5.-Print-the-first-5-names-in-the-student-list." data-toc-modified-id="5.-Print-the-first-5-names-in-the-student-list.-1.5">5. Print the first 5 names in the student list.</a></span></li><li><span><a href="#6.-Combine-the-9th-and-10th-student-names-into-a-single-string,-separated-by-a-space,-and-assign-to-a-variable." data-toc-modified-id="6.-Combine-the-9th-and-10th-student-names-into-a-single-string,-separated-by-a-space,-and-assign-to-a-variable.-1.6">6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.</a></span></li><li><span><a href="#7.-Append-an-animal-to-the-list-of-animals." data-toc-modified-id="7.-Append-an-animal-to-the-list-of-animals.-1.7">7. Append an animal to the list of animals.</a></span></li><li><span><a href="#8.-Print-the-length-of-the-animals-list." data-toc-modified-id="8.-Print-the-length-of-the-animals-list.-1.8">8. Print the length of the animals list.</a></span></li><li><span><a href="#9.-Show-two-different-ways-to-combine-the-animals-list-and-numbers-list." data-toc-modified-id="9.-Show-two-different-ways-to-combine-the-animals-list-and-numbers-list.-1.9">9. Show two different ways to combine the animals list and numbers list.</a></span></li><li><span><a href="#10.-Remove-my-name-from-the-list-and-insert-your-own-in-the-same-place." data-toc-modified-id="10.-Remove-my-name-from-the-list-and-insert-your-own-in-the-same-place.-1.10">10. Remove my name from the list and insert your own in the same place.</a></span></li><li><span><a href="#11.-Find-the-index-of-'a'-in-the--mix--list." data-toc-modified-id="11.-Find-the-index-of-'a'-in-the--mix--list.-1.11">11. Find the index of <code>'a'</code> in the  <code>mix</code>  list.</a></span></li><li><span><a href="#12.-Reverse-the-mix-list." data-toc-modified-id="12.-Reverse-the-mix-list.-1.12">12. Reverse the <code>mix</code> list.</a></span></li><li><span><a href="#13.-Remove-the-last-element-of-mix-and-assign-it-to-a-variable." data-toc-modified-id="13.-Remove-the-last-element-of-mix-and-assign-it-to-a-variable.-1.13">13. Remove the last element of <code>mix</code> and assign it to a variable.</a></span></li><li><span><a href="#14.-Count-the-number-of-times-0-appears-in-the-following-list." data-toc-modified-id="14.-Count-the-number-of-times-0-appears-in-the-following-list.-1.14">14. Count the number of times <code>0</code> appears in the following list.</a></span></li><li><span><a href="#15.-Try-to-convert-elements-in-a-list-to-floats." data-toc-modified-id="15.-Try-to-convert-elements-in-a-list-to-floats.-1.15">15. Try to convert elements in a list to floats.</a></span></li><li><span><a href="#16.-While-loops-and-strings." data-toc-modified-id="16.-While-loops-and-strings.-1.16">16. While loops and strings.</a></span></li></ul></li></ul></div>

## Miscellaneous problems

---

### 1. What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'Richard':'Skeggs', 'Christoph':'Rahmede'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [5]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'dict'>
<class 'bool'>
<class 'bool'>
<class 'str'>

---

### 2. What is the difference between a "mutable" and an "immutable" object? 

Answer in one sentence.

In [ ]:
# Mutable: We can replace the values of lists, dictionary and sets
# Immutable: We can replace the values of Tuple

---

### 3. Print the `student_names` list.

In [6]:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

In [9]:
for student in student_names:
    print(student)

s1
s2
s3
s4
s5
s6
s7
s8
s9
s10

---

### 4. Print the names of the first and last students in the list.

In [11]:
print(student_names[0],student_names[-1])

s1 s10

---

### 5. Print the first 5 names in the student list.

In [12]:
student_names[:5]

['s1', 's2', 's3', 's4', 's5']

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.

In [15]:
new_student= student_names[8]+ " "+ student_names[9]
print(new_student)

s9 s10

In [48]:
student_names.insert(1,new_student)

In [49]:
student_names

['s1', 's9 s10', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

---

### 7. Append an animal to the list of animals.

In [16]:
animals = ['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle']

In [17]:
animals.append("frog")

In [18]:
animals

['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle', 'frog']

---

### 8. Print the length of the animals list.

In [19]:
len(animals)

7

---

### 9. Show two different ways to combine the animals list and numbers list.

In [28]:
animals = ['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle']
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [43]:
animals+numbers

['duck',
 'rat',
 'boar',
 'elefant',
 'mammoth',
 'gazelle',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

In [91]:
animals.extend(numbers)

In [92]:
animals

['duck',
 'rat',
 'boar',
 'elefant',
 'mammoth',
 'gazelle',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0,
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

In [93]:
list(zip(animals, numbers))

[('duck', 0.0),
 ('rat', 0.1),
 ('boar', 1.0),
 ('elefant', 10.0),
 ('mammoth', 100.0),
 ('gazelle', 1000.0)]

In [64]:
new_lst = []                      
for i in range(len(animals)):
    new_lst.append(animals[i])
    new_lst.append(numbers[i])  
print(new_lst)

['duck', 0.0, 'rat', 0.1, 'boar', 1.0, 'elefant', 10.0, 'mammoth', 100.0, 'gazelle', 1000.0]

In [65]:
def combine(animals, numbers):
    for i in range(len(animals)):
        print(lst[i], numbers[i])
        return lst, numbers

In [66]:
combine(animals, numbers)

duck0.0 0.0

(['duck0.0',
  'duck0.1',
  'duck1.0',
  'duck10.0',
  'duck100.0',
  'duck1000.0',
  'rat0.0',
  'rat0.1',
  'rat1.0',
  'rat10.0',
  'rat100.0',
  'rat1000.0',
  'boar0.0',
  'boar0.1',
  'boar1.0',
  'boar10.0',
  'boar100.0',
  'boar1000.0',
  'elefant0.0',
  'elefant0.1',
  'elefant1.0',
  'elefant10.0',
  'elefant100.0',
  'elefant1000.0',
  'mammoth0.0',
  'mammoth0.1',
  'mammoth1.0',
  'mammoth10.0',
  'mammoth100.0',
  'mammoth1000.0',
  'gazelle0.0',
  'gazelle0.1',
  'gazelle1.0',
  'gazelle10.0',
  'gazelle100.0',
  'gazelle1000.0'],
 [0.0, 0.1, 1.0, 10.0, 100.0, 1000.0])

In [94]:
# lst=[(x+str(y)) for x in animals for y in numbers]
# lst

---

### 10. Remove Kian from the list and insert your own in the same place.

In [32]:
names = ['doug', 'billy', 'christoph', 'kian', 'sam']

In [33]:
names.remove("kian")

In [34]:
names.insert(3, "Tam")

In [35]:
names

['doug', 'billy', 'christoph', 'Tam', 'sam']

### 11. Find the index of `'a'` in the  `mix`  list.

In [36]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [37]:
mix.index("a")

5

---

### 12. Reverse the `mix` list.

In [38]:
mix.reverse()

In [39]:
mix

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 13. Remove the last element of `mix` and assign it to a variable.

In [40]:
a= mix.pop()
a

['billy', 'sam']

---

### 14. Count the number of times `0` appears in the following list.

In [41]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [42]:
binary.count(0)

16

---

### 15. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

> Hint: Use a try-except statement, see [here](http://www.pythonforbeginners.com/error-handling/python-try-and-except) or [here](https://www.programiz.com/python-programming/exception-handling).

In [110]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

In [113]:
new_lst = []
for number in range(len(corrupted)):
    try:
        new_lst.append(float(corrupted[number]))
    except: 
        print("invalid value")
        
print(new_lst)

invalid value
invalid value
invalid value
invalid value
invalid value
invalid value
[23.1, 0.12, -11.1, 1000.0]

---

### 16. While loops and strings.

Iterate over the following sentence over and over again, counting the number of vowels in the sentence until you have counted 1 million vowels. Print out the number of iterations it took to reach one million.

In [85]:
sentence = "IF I PRACTICE A LOT I WILL SOON BECOME A VERY GOOD DATA ANALYST"

In [75]:
sentence.split()

['IF',
 'I',
 'PRACTICE',
 'A',
 'LOT',
 'I',
 'WILL',
 'SOON',
 'BECOME',
 'A',
 'VERY',
 'GOOD',
 'DATA',
 'ANALYST']

In [117]:
vowels = ['A', 'E', 'I', 'O', 'U']  

iteration = 0 
count = 0

while count < 1000000: 
   
    for letter in sentence:
        if letter in vowels:
            count+=1
            iteration+=1
print(count)
print("iteration :", iteration)

1000010
iteration : 1000010